.icon-primary > path {
	fill: $primary;
}

.btn-default {
	background-color: $grey-10;
	border-color: $grey-40;
	color: $grey-90;

	&:hover {
		background-color: $grey-40;
		color: $white;
		border-color: $grey-40;
		box-shadow: 0 0 0 3px rgba($grey-80, 0.2);
	}
}

.btn-outline {
	background-color: $white;
	border-color: $primary;
	color: $primary;

	&:hover {
		background-color: $primary;
		border-color: $primary;
		color: $white;
		box-shadow: 0 0 0 3px rgba($primary, 0.2);
	}
}

.btn-primary {
	border-color: $primary;
	background-color: $primary;
	color: $white;

	&:hover {
		background-color: darken($primary, 10);
		border-color: darken($primary, 10);
		color: $white;
		box-shadow: 0 0 0 3px rgba($primary, 0.2);
	}
}

.btn-danger {
	border-color: $danger;
	background-color: $danger;
	color: $white;

	&:hover {
		background-color: darken($danger, 10);
		border-color: darken($danger, 10);
		color: $white;
		box-shadow: 0 0 0 3px rgba($danger, 0.2);
	}
}

.text-center {
	text-align: center;
}
