// Colors
$primary: #3488fa;
$danger: #eb4d4b;
$white: #ffffff;
$grey-10: #f4f7fa;
$grey-40: #b9c3d5;
$grey-80: #818b9d;
$grey-90: #222222;

// Radius
$radius: 1rem;
// Height
$constant-height: 48px;
