.settings {
	width: 100%;
	height: auto;
	@include centered-column;
	margin: 1.5rem 0;

	.setting {
		width: 100%;
		height: $constant-height;
		display: grid;
		align-items: center;
		margin: 0.5rem 0;

		@media screen and (max-width: 321px) {
			grid-template-columns: 1fr !important;
			grid-template-rows: 1fr $constant-height !important;
			grid-gap: 0.7rem !important;
			margin-bottom: 2.7rem !important;
		}

		&.row {
			grid-template-columns: 1fr 236px;
			grid-template-rows: $constant-height;
		}

		&.column {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr $constant-height;
			grid-gap: 0.7rem;
			margin-bottom: 2.7rem;
		}

		&_title {
			width: 100%;
			display: block;
		}
	}
}
