.video {
	width: 336px;
	height: 192px;
	border-radius: $radius;
	margin: 1.5rem 0;
	position: relative;

	&_preview {
		width: 100%;
		height: 192px;
		// background: url('https://s3-alpha-sig.figma.com/img/80b2/c8b9/db05a73b5f7cb33be5906f4d71d57593?Expires=1601251200&Signature=EMlA3~QQkzTQjy7TmQsjtT2CSZq0P8owfYw5z7m48j2niJ3bi6L8LPqT6iCw-i386tYZtHYQyvG3nWwBB1x8pwRWzIkU3giMNTlv3LMzGG7Hs5gbN9vb1OczBCL04-yykkOLgJK35Y2t~uNQJlmKOfnhrjR6cQVEEQ-fbK9KKsc96j3T65blH6nTd0f6aDm-qZ87EZDWnlsLsLeBwvIW6ORahfR85KtWhOZ4nd1~~QHkt5z0JLs7KoCVep5NQEApnh8ogdsb3PQfW4JG6xTNzd7qmYaBabqHmN3pb7T5sC5PAXvX4cmH6Rq-4qGCfUq~kV4Ebfj4iJ5sNA06ZU4lzw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')
		// 	no-repeat center center / cover;
		background: url('assets/preview.jpeg') no-repeat center center / cover;
		border-radius: $radius / 2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&_controls {
		width: 168px;
		position: absolute;
		left: 50%;
		bottom: 12px;
		@include centered-row;
		justify-content: space-between;
		transform: translateX(-50%);
		z-index: 100;
	}
}
